.animation{
  -webkit-transition-delay:0;
          transition-delay:0;
  -webkit-transition-duration: 1.1s;
          transition-duration: 1.1s;
  -webkit-transition-timing-function:ease-in-out;
          transition-timing-function:ease-in-out;
}

.item_one_phone_init{
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0 ;
}
.item_one_phone_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_one_shadow_init{
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.item_one_shadow_done{
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: .4;
}

.item_one_title_init{
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.item_one_title_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_two_title_init{
  -webkit-transform:translateY(-100%);
          transform:translateY(-100%);
  opacity: 0 ;
}

.item_two_title_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_two_phone_init{
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0 ;
}

.item_two_phone_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_three_title_init{
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0 ;
}

.item_three_title_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_three_second_title_init{
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0 ;
}

.item_three_second_title_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_three_phone_init{
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0 ;
}

.item_three_phone_done{
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1 ;
}

.item_three_function_layout_init{
  opacity: 0 ;
  -webkit-transform: scale(0.8,0.8);
          transform: scale(0.8,0.8);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0 ;
          transition-delay: 0 ;
}

.item_three_function_layout_done{
  opacity: 1 ;
  -webkit-transform: scale(1.0,1.0);
          transform: scale(1.0,1.0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0 ;
          transition-delay: 0 ;
}

.item_four_item_one{
  -webkit-transition:all 1s 0.5s ;
  transition:all 1s 0.5s ;
  opacity: 1 ;
}

.item_four_item_two{
  -webkit-transition: all 1s 1s ;
  transition: all 1s 1s ;
  opacity: 1 ;
}

.item_four_item_three{
  -webkit-transition: all 1s 1.5s ;
  transition: all 1s 1.5s ;
  opacity: 1 ;
}

.item_four_item_four{
  -webkit-transition: all 1s 2s ;
  transition: all 1s 2s ;
  opacity:  1;
}

.item_five_phone_init{
  -webkit-transform:  translateY(100%);
          transform:  translateY(100%);
  opacity: 0 ;
}

.item_five_phone_done{
  -webkit-transform:  translateY(0%);
          transform:  translateY(0%);
  opacity: 1 ;
}

.outline_init{
  -webkit-transform:  translateX(100%);
          transform:  translateX(100%);
  -webkit-transition-delay:0;
          transition-delay:0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function:linear;
          transition-timing-function:linear;
}

.outline_done{
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-delay:0;
          transition-delay:0;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-timing-function:linear;
          transition-timing-function:linear;
}

.done{

}
