.screenItemTwo{
    position: relative;
    background: #fafafa;
}

.screenItemTwo>dl{
    width: 100%;
    position: absolute;
    top:57px;
    text-align: center;
}

.screenItemTwo>dl>dd{
    font-size:48px;
    color:var(--highTitleColor);
}
.screenItemTwo>dl>dt{
    font-size:16px;
    color: var(--textsecondColorPrimary);
    margin-top: 36px;
    line-height: 29px;
}

.screenItemTwoPicture{
    width:928px;
    height:873px;
    position: absolute;
    left:50%;
    margin-left: -464px;
    bottom:-345px;
    z-index: 2;
    background: url("../img/item_2_phone.png") no-repeat center;
  
}
